<%- include('partials/head.ejs') %> 

                <form  action="/vaccine" method="post">
                    <input type="text" name="pincode" id="pincode" placeholder="Enter Pincode" required>
                    <input type="date" name="date" id="date" placeholder="DD-MM-YYYY" required>
                    <button type="submit">Submit</button>
                </form>

<%- include('partials/foot.ejs') %>